  .mobile-hidden {
    display: none;
  }

  .mobile-only {
    display: block;
  }

@media (min-width: 1024px) {
    .mobile-hidden {
        display: block;
    }
    
    .mobile-only {
        display: none;
    }
}