@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url(reset.css);
@import url(variables.css);
@import url(helpers.css);
/* Базовые стили */
* {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  body {
    display: flex;
    background: #f9fafb;
  }
  
  /* Сайдбар */
  .dashboard {
    display: flex;
    width: 100%;
    transition: left .3s;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: relative;
}

  .dashboard__sidebar {
    flex: 0 1 306px;
    background: #fff;
    padding: 36px 28px 76px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .dashboard__logo {
    font-size: 10px;
    font-weight: bold;
    color: #838383;
    display: flex;
    align-items: flex-end;
    column-gap: 4px;
  }

  .dashboard__logo span {
      transform: translateY(-50%);
  }

  ul.dashboard__menu {
    list-style: none;
    flex: 1;
    padding-top: 64px;
  }
  
  .dashboard__menu-item {
    margin: 10px 0;
  }
  
  .dashboard__menu-item a {
    text-decoration: none;
    color: #9197B3;
    font-size: .875rem;
    display: flex;
    align-items: center;
    column-gap: 14px;
    padding: 10px;
    border-radius: 8px;
    transition: 0.3s all;
    position: relative;
  }
  
  .dashboard__menu-item--active a,
  .dashboard__menu-item a:hover {
    background: #5932EA;
    color: #fff;
  }

  .dashboard__menu-item:not(:first-child) a:after {
    content: "";
    position: absolute;
    right: 23px;
    border: solid #9197B3;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
  }

  .dashboard__menu-item--active:not(:first-child) a:after,
  .dashboard__menu-item a:hover:after {
    border-color: #fff;
  }
  
  .dashboard__profile {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  .dashboard__profile-image {
    width: 42px;
    height: 42px;
    border-radius: 50%;
  }
  
  .dashboard__profile-info {
    display: flex;
    flex-direction: column;
  }
  
  .dashboard__profile-name {
    font-size: 14px;
    font-weight: bold;
  }
  
  .dashboard__profile-title {
    font-size: 12px;
    color: #888;
  }
  
  /* Основной контент */
  .dashboard__main {
    flex: 1;
    padding: 30px 5.8vw;
    overflow: auto;
  }
  
  .dashboard__greeting {
    font-size: 24px;
    margin-bottom: 51px;
  }
  
  .dashboard__content {
    background: #fff;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .dashboard__content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .dashboard__content-title {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 7px;
  }

  .dashboard__content-subtitle {
    font-size: 14px;
    color: #16C098;
    letter-spacing: -1px;
    font-weight: 400;
  }
  
  .dashboard__search-input {
    padding: 10px 15px 10px 40px;
    font-size: 12px;
    border-radius: 8px;
    width: 216px;
    outline: none;
    transition: box-shadow 0.3s;
    background: #F9FBFF url('../assets/icons/search.svg') 8px center/24px 24px no-repeat;
    border: none;
    outline: none;
    font-weight: 400;
  }
  
  .dashboard__search-input:focus,
  .dashboard__search-input:hover {
    box-shadow: 0 0 5px rgba(90, 85, 242, 0.2);
  }

  .dashboard__search-input::placeholder {
    color: #B5B7C0;
  }

  .dashboard__open-nav {
    position: fixed;
    top: 30px;
    right: 20px;
    background: #eee;
    border: none;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
  }
  
  .table__head {
    color: #B5B7C0;
    position: relative;
  }

  .table__head:before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    width: calc(100% + 80px);
    left: -40px;
    background-color: #eee;
  }
  
  .table__row {
    border-bottom: 1px solid #eee;
  }
  
  tbody .table__row:hover {
    background: #f9f9ff;
  }
  
  .table__cell {
    padding: 15px;
    text-align: left;
  }
  
  .table__body .table__cell--status span {
    padding: 2px 10px;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    border: 1px solid;
    min-width: 80px;
    display: inline-block;
  }
  
  .table__body .table__cell--active span {
    background: rgba(22,192,152, .38);
    color: #008767;
    border-color: #008767;
  }
  
  .table__body .table__cell--inactive span {
    background: #FFC5C5;
    color: #DF0404;
    border-color: #DF0404;
  }
  
  /* Пагинация */
  .dashboard__pagination {
    margin-top: 32px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .dashboard__pagination .dashboard__pagination-info {
    color: #B5B7C0;
    font-size: 14px;
  }

  .dashboard__pagination-buttons {
    display: flex;
    align-items: center;
  }
  
  .pagination__button {
    background: #F5F5F5;
    border: 1px solid #EEEEEE;
    color: #404B52;
    border-radius: 4px;
    width: 25px;
    aspect-ratio: 1;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s;
    position: relative;
  }

  .pagination__button--prev:before,
  .pagination__button--next:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    border: solid #000;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 2px;
    transform:translate(-15%, -50%) rotate(132deg);
  }

  .pagination__button--next:before {
    transform:translate(-85%, -50%) rotate(-45deg);
  }
  
  .pagination__button:hover {
    background: #efeffe;
    color: #5a55f2;
  }
  
  .pagination__button--active {
    background: #5932EA;
    color: #fff;
    border-color: #5932EA;
  }
  
  .pagination__dots {
    color: #555;
  }
  
  @media (min-width: 1024px) and (max-width: 1440px) {
      .table {
        display: block;
        overflow: auto;
        white-space: nowrap;
      }
  }

 @media only screen and (max-width: 1024px) {

.dashboard__content,
.dashboard__main {
  width: 100%;
}

.dashboard__content {
  padding: 20px;
}

.dashboard__main {
  padding-left: 15px;
  padding-right: 15px;
}

.table {
  display: block;
  overflow: auto;
  white-space: nowrap;
}

  .dashboard__header {
    position: relative;
    z-index: 1;
  }

  .dashboard__greeting {
    margin-bottom: 30px;
  }

  .dashboard {
    overflow: auto;
  }

  .dashboard__content-header {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
  }

  .table__head {
    background-color: #fff;
    position: sticky;
    top: 0;
  }
    
  .table__head:before {
    display: none;
  }

    .dashboard__sidebar {
      position: fixed;
      transition: left .3s;
      height: 100%;
      left: calc(-1*(100% - 65px));
      overflow: auto;
      top: 0;
      width: calc(100% - 90px);
    }

    .dashboard__pagination {
      flex-direction: column;
      gap: 15px;
      margin-top: 20px;
    }
    
    .nav-opened {
      width: 100%;
      height: 100%;
      overflow-x: hidden;
    }
  .nav-opened body {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  .nav-opened .dashboard__sidebar {
    box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);
    left: 0;
    z-index: 99;
    padding-bottom: 6vh;
  }

  .nav-opened .dashboard {
    left: calc(100% - 90px);
  }

  ul.dashboard__menu {
    padding-top: 8vh;
  }

  
  .dashboard__search, 
  .dashboard__search-input {
    width: 100%;
  }

  .nav-opened .dashboard__open-nav:after {
    background: rgba(0, 0, 0, 0.7);
    content: '';
    display: block;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.nav-opened .dashboard__open-nav {
  right: -100%;
}
  }